<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    {{#if showTests}}
		  <link rel='stylesheet' href='/vendor/mocha.css'></link>
	  {{/if}}
    
  </head>
  <body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menú <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/cpaloader">Admin</a></li>
            <li class="divider"></li>
            <li><a href="#" id="getValues">Valores del mapa</a></li>
            <li class="divider"></li>
            <li><a href="?test=1">Tests</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
            <input type="text" id="cpa_input" class="form-control" placeholder="Código postal"> 
            <button type="submit" class="btn btn-default">
             <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button>
             </div>
           </div>
         </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div id="msg" class="alert alert-danger" role="alert" hidden>...</div>
  <div class="row">	
    {{{body}}}
   </div>
   {{#if showTests}}
    <div id="mocha"></div>
	   <script src="vendor/mocha.js"></script>
	   <script src="vendor/chai.js"></script>
		  <script>
  			mocha.ui('tdd');
	   		var assert = chai.assert;
		  </script>
	   <script src='/qa/tests-global.js'></script>
	   {{#if pageTestScript}}
	   	<script src="{{pageTestScript}}"></script>
	   {{/if}}
	   <script>mocha.run();</script>
    {{/if}}
  </body>
</html>
